@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Roboto&display=swap');

body {
  background-color: #3973ac;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 40px;
}

h2 {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 18px;
  padding: 30px 50px;
  margin-bottom: 20px;
}

#firstlist li {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  color: yellow;
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  width: 400px;
}
